#home {
  width: 100%;
  height: 100%;
  //margin-bottom: 50px !important;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;

  .home-content {
    width: 100%;
    color: #ffffff;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    .home-content-bg {
      display: block;
      width: 100%;
      position: absolute;
      vertical-align: bottom;
    }

    .home-search-wrap {
      position: relative;
      width: 90%;
      margin: 18% auto 0;
      color: #ffffff !important;

      .van-search {
        padding: 0;

        .van-search__content {
          background-color: rgba(255, 255, 255, 0.3);
          border: none;
          color: #ffffff;

          .van-icon-search {
            color: #ffffff;
          }

          input {
            color: #ffffff;
          }
        }

      }

    }

    .home-banner-wrap {
      position: relative;
      width: 90%;
      overflow: hidden;
      box-sizing: border-box;
      margin: 10% auto 0;
      border-radius: 10px;
    }

    .home-type-wrap {
      width: 90%;
      position: relative;
      box-sizing: border-box;
      margin: 13% auto 0;
      background-color: transparent;

      .van-grid-item {
        background-color: transparent;

        .van-grid-item__content {
          padding: 16px 0;
          background-color: transparent;

          .van-icon {
            img {
              width: 2em;
              height: 2em;
            }
          }
        }
      }
    }

    .home-module-wrap {
      width: 90%;
      position: relative;
      margin: 15px auto 0;
      box-sizing: border-box;
    }

    .home-like-wrap {
      width: 90%;
      position: relative;
      margin: 15px auto 0;
      box-sizing: border-box;
    }

    .home-more-wrap {
      width: 90%;
      position: relative;
      margin: 15px auto 0;
      box-sizing: border-box;
    }
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff;
  }

  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff;
  }
}

